@model FileUploadModel

@{
    ViewData["Title"] = "GetDocument";
}

<h1>GetDocument</h1>
<div class="col text-center">
    <a asp-controller="FileUpload" asp-action="GetDocument" class="btn btn-danger"></a>
</div>

<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item"><b>Files</b>@Model.File</li>
        </ul>
        <a asp -asp-controller="FileUpload" asp-action="Index">Back to List</a>
    </div>
</div>

